# Compiled class files
*.class

# Compiled output directories
/bin/
/out/
/build/

# Logs
*.log

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jar files (if generated)
*.jar

#eclipse
.classpath
.project
.settings
